@model CollegeNBU.Web.ViewModels.Grade.CreateGradeViewModel

@{
    ViewData["Title"] = "Create Grade";
}

<div class="container py-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card login-card shadow border-0">

                <div class="card-body p-5">

                    <div class="text-center mb-4">

                        <h2 class="fw-bold text-center">
                            Add Grade
                        </h2>

                        <p class="text-muted">
                            Create a new grade record.
                        </p>

                    </div>

                    <form asp-action="Create">

                        <div class="mb-3">

                            <label class="form-label">
                                Student
                            </label>

                            <select asp-for="StudentId"
                                    class="form-select">

                                @foreach (var student in ViewBag.Students)
                                {
                                    <option value="@student.Id">
                                        @student.FirstName @student.LastName
                                    </option>
                                }

                            </select>

                        </div>

                        <div class="mb-3">

                            <label class="form-label">
                                Course
                            </label>

                            <select asp-for="CourseId"
                                    class="form-select">

                                @foreach (var course in ViewBag.Courses)
                                {
                                    <option value="@course.Id">
                                        @course.Name
                                    </option>
                                }

                            </select>

                        </div>

                        <div class="mb-4">

                            <label asp-for="Value"
                                   class="form-label">
                                Grade
                            </label>

                            <input asp-for="Value"
                                   class="form-control" />

                        </div>

                        <button type="submit"
                                class="btn btn-primary w-100 login-btn">
                            Save Grade
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
